@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828;
        color: #e2e2e2;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }
}

.center {
    text-align: center;
}

h1 {
    text-align: center;
}